@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
/* .poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@700&display=swap');

/*
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
  */


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* border-box means that when we'll give sizes that will include content + padding + border otherwise it is set to content-box by default  */
}
